header{/*
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banner.jpg);
    background-position-x: initial, initial;
    background-position-y: initial, initial;
    background-size: initial, initial;
       background-attachment: initial, initial;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
    background-size: cover;

    height: 700px;
    width:100%;
    padding:20px 150px;
   
}
